chromadb==0.4.14
langchain==0.1.0
langchain-community==0.0.4
langchain-core==0.1.1
langchain-openai==0.0.2.post1
openai==1.7.2
rich==13.7.0
tiktoken==0.5.2
tqdm==4.66.1
unstructured==0.11.5
unstructured-client==0.15.0
